<ion-header>
  <ion-toolbar>
    <ion-title>{{ titlePage }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButtonClickEvent()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
      <button ion-button incon-only style="font-size: 1.7em" (click)="shareEpisodeEvent()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <div *ngIf="detailEpisode" class="episodePage">
          <p *ngIf="detailEpisode.Title != constantesValueApi.defaultFieldUndefinedValue"><b>Titre:</b>
            {{detailEpisode.Title}}</p>
          <p *ngIf="detailEpisode.Plot != constantesValueApi.defaultFieldUndefinedValue"><b>Description:</b>
            {{detailEpisode.Plot}}</p>
          <p *ngIf="detailEpisode.Released != constantesValueApi.defaultFieldUndefinedValue"><b>Sortie:</b>
            {{detailEpisode.Released}}</p>
          <p *ngIf="detailEpisode.Runtime != constantesValueApi.defaultFieldUndefinedValue"><b>Durée:</b>
            {{detailEpisode.Runtime}}</p>
          <p
            *ngIf="detailEpisode.imdbRating != constantesValueApi.defaultFieldUndefinedValue || detailEpisode.imdbVotes != constantesValueApi.defaultFieldUndefinedValue">
            <b>Note / Votes:</b> {{detailEpisode.imdbRating}} / {{detailEpisode.imdbVotes}}
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="toggleFavorite()">
          Ajouter à mes favoris
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="tertiary" expand="block" (click)="shareEpisodeEvent()">
          Partager avec une personne
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>