<ion-header>
  <ion-toolbar>
    <ion-title>{{ titlePage }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButtonClickEvent()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <button ion-button incon-only style="font-size: 1.7em" (click)=toggleFavorite()>
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon>
      </button>
      <button ion-button incon-only style="font-size: 1.7em" (click)="shareEpisodeEvent()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <div *ngIf="detailEpisode" style="color:black;">
          <p>Titre {{detailEpisode.Title}}</p>
          <p>Description {{detailEpisode.Plot}}</p>
          <p>Sortie {{detailEpisode.Released}}</p>
          <p>Durée {{detailEpisode.Runtime}}</p>
          <p>Note / Votes {{detailEpisode.imdbRating}} / {{detailEpisode.imdbVotes}}</p>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>