<ion-header>
  <ion-toolbar>
    <ion-title>Films</ion-title>
      <button ion-button large slot="secondary" (click)="searchbarEventClick($event)">
        <ion-icon name="md-search"></ion-icon>
      </button>
  </ion-toolbar>
</ion-header>

<ion-searchbar *ngIf="displaySearchBar" placeholder="Rechercher un film" [(ngModel)]="searchFilm" (ionChange)="getFilmSearchBar()"></ion-searchbar>

<ion-content padding>
  <ion-list *ngIf="searchFilmBool">
      <div *ngIf="filmIntrouvable" style="color: black;">
        <p>Aucun film n'a été trouvé pour la recherche suivante : <b>{{searchFilm}}</b></p>
      </div>
      <div *ngFor="let film of films">
        <ion-card routerLink="/detail/{{film.imdbID}}" >
          <ion-card-content padding>
            <div style="color:black;">
              <p>{{film.Title}}</p>
              <p>Année de sortie : {{film.Year}}</p>
              <p>Type : {{film.Type}}</p>
            </div>
            <div *ngIf="film.Poster == 'N/A', else elseBlockPosterImg">
              <p>Aucun poster associé à ce film</p>
            </div>
            <ng-template #elseBlockPosterImg>
                <img src={{film.Poster}} alt={{film.Title}} class="imgPosterResize">
            </ng-template>
          </ion-card-content>
        </ion-card>
      </div>
  </ion-list>

  <ion-infinite-scroll *ngIf="page <= 100" (ionInfinite)="(doInfinite($event))">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Chargement des données en cours...">
      </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
