<ion-header>
  <ion-toolbar>
    <ion-title>{{titlePage}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="backButtonClickEvent()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="detailSeason">
    <ion-list>
      <ion-grid>
        <ion-col>
          <ion-card *ngFor="let episode of detailSeason.Episodes"
            routerLink="/detail/{{id}}/season/{{idSeason}}/episode/{{episode.Episode}}" padding>
            <span><b>Épisode: </b>{{episode.Episode}}</span>
            <span><b>Titre: </b>{{episode.Title}}</span>
          </ion-card>
        </ion-col>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>